@using model_Binding.ViewModel
@model HomePadeViewModel

<p>@Model.AdresBilgisi.AdresTanim</p>
<p>@Model.AdresBilgisi.Sehir</p>
<p>@Model.KisiBilgisi.Ad</p>
<p>@Model.KisiBilgisi.Soyad</p>
<p>@Model.KisiBilgisi.Yas</p>
